@prefix dcat: <http://www.w3.org/ns/dcat#>.
@prefix dct: <http://purl.org/dc/terms/>.
@prefix foaf: <http://xmlns.com/foaf/0.1/>.
@prefix loc: <http://localhost/>.


loc:new a dcat:DataService ;
    dct:type <{{&type}}> .

{{#serversdataset_str}}
loc:new dcat:servesDataset {{&serversdataset_str}} .
{{/serversdataset_str}}
{{#endpointurl}}
loc:new dcat:endpointURL <{{&endpointurl}}> .
{{/endpointurl}}
{{#endpointdescription_str}}
loc:new dcat:endpointDescription {{&endpointdescription_str}} .
{{/endpointdescription_str}}