@prefix : <http://purl.org/ejp-rd/metadata-model/v1/example-rdf/> .
@prefix ejp:   <http://purl.org/ejp-rd/vocabulary/> .
@prefix sio:  <http://semanticscience.org/resource/> .
@prefix rdfs:  <http://www.w3.org/2000/01/rdf-schema#> .
@prefix loc: <http://localhost/>.

{{! Required triples }}
loc:new a ejp:PatientRegistry ;
  ejp:populationCoverage :population_coverage .

:population_coverage a sio:SIO_001166 ;
  rdfs:label  "{{populationcoverage}}" .
